body
  margin 0
  background white

/*
.adult
  --mdc-theme-primary #ee0080
  --mdc-theme-secondary #010187

  .mdc-drawer .mdc-list-item--activated
    color rgba(238, 0, 128, 0.87)
    .mdc-list-item__graphic
      color var(--mdc-theme-primary, #ee0080)
*/
